<section class="content">
    {{#each thumbnails}}
    <a href="/portrait/{{ _id }}">
        <div class="card">
            <img src="{{ source }}" alt="{{ title }}" />
            <p><span>{{ title }}</span>, {{ year }}</p>
        </div>
    </a>
    {{/each}}
</section>