<div class="portrait-gallery">
    <img src="{{ portrait.source }}" alt="Portrait for {{ portrait.title }}">
</div>
<div class="description-container">
    <div class="text-container">
        <p>{{ portrait.description }}</br><span>{{#if portrait.year}}{{portrait.title}}{{/if}}{{#if portrait.year}},{{/if}} </span> {{ portrait.year }} </p>
        <p class="credits">{{ portrait.creditsOne }}</p>
        <p class="credits">{{ portrait.creditsTwo }}</p>
    </div>
</div>