<div class="portrait-gallery">
    <img src="{{ setdec.source }}" alt="Set decoration for {{ setdec.title }}">
</div>
<div class="description-container">
    <div class="text-container">
        <p>{{ setdec.description }}</br><span>{{#if setdec.year}}{{setdec.title}},{{/if}} </span> {{ setdec.year }}</p>
        <p class="credits">{{ setdec.creditsOne }}</p>
        <p class="credits">{{ setdec.creditsTwo }}</p>
    </div>
</div>