<div class="portrait-gallery">
    <img src="{{ prop.source }}">
</div>
<div class="description-container">
    <div class="text-container">
        <p>{{ prop.description }}</br><span>{{#if prop.year}}{{prop.title}},{{/if}} </span> {{ prop.year }}</p>
        <p class="credits">{{ prop.credits }}</p>
    </div>
</div>